<div class="container py-4">
  <h2 class="mb-3"><i class="ph ph-airplane-takeoff me-2"></i>About the Boilerplate</h2>
  <p>
    This boilerplate is a pre-configured setup for the Angular coding round at
    Tarkashilpa. It includes:
  </p>
  <ul class="list-unstyled ps-3">
    <li class="mb-2">✔ SCSS as the CSS pre-processor</li>
    <li class="mb-2">
      ✔ Phosphor as the icon library. Browse available icons
      <a
        href="https://phosphoricons.com/?q=%22%22"
        target="_blank"
        rel="noopener noreferrer"
        >here</a
      >.
    </li>
  </ul>

  <h2 class="mt-4 mb-3"><i class="ph ph-alarm me-2"></i>Test Instructions</h2>
  <ul class="list-unstyled ps-3">
    <li class="mb-2">
      ✔ The test must be completed with <b>screen sharing</b> enabled.
    </li>
    <li class="mb-2">
      ✔ Candidates may refer to
      <b>
        <a href="https://angular.dev/" target="_blank" rel="noopener noreferrer"
          >Angular.dev</a
        >
      </b>
      for syntax and
      <b>
        <a
          href="https://phosphoricons.com/"
          target="_blank"
          rel="noopener noreferrer"
          >Phosphor Icons</a
        >
      </b>
      for icons during the test.
    </li>
    <li class="text-danger fw-bold mb-2">
      ❌ Using any other websites, blogs, Stack Overflow, Google, ChatGPT, or
      AI-generated code is strictly prohibited.
    </li>
  </ul>
</div>
